langchain
langgraph
python-dotenv
requests
langchain-google-genai 
langchain-community 
sqlalchemy
google-generativeai
antlr4-python3-runtime==4.11.1
docling 
docling-core 
langchain-text-splitters 
langchain-huggingface 
langchain-milvus  
google-generativeai 
langchain-google-genai
duckduckgo-search
ddgs
streamlit
